@import "./color";
.display-wrapper {
    position: absolute;
    top: 110px;
    left: 14vw;
}

.table-wrapper {
    display: block;
    width: 80vw;
    margin: 4vh 2vw;
    border-radius: 1vh;
}

.MuiToolbar-regular {
    background-color: $yellow !important;
}

table {
    width: 100% !important;
    margin: auto !important;
    background-color: $white !important;
    th {
        background-color: $white !important;
        .MuiButtonBase-root {
            font-weight: 600;
        }
    }
    td {
        background-color: $white !important;
        color: $dark-grey !important;
    }
    tr:hover td.MuiTableCell-alignLeft {
        transition: 0.5s;
        color: $black !important;
        background-color: $beige !important;
    }
    tr:hover td.MuiTableCell-alignLeft a {
        transition: 0.5s;
        color: $black !important;
    }
    tr:hover td.MuiTableCell-alignLeft a:visited {
        transition: 0.5s;
        color: $black !important;
    }
}

@media only screen and (max-width: 768px) {
    /* For general iPad layouts */
    .table-wrapper {
        position: absolute;
        top: 180px;
        left: 0;
        width: 96vw;
        margin: 3vh 2vw;
    }
}

@media only screen and (max-width: 510px) {
    /* For general iphone layouts */
    .table-wrapper {
        position: absolute;
        top: 200px;
        left: 0;
        width: 96vw;
        margin: 2vh 2vw;
    }
}