@import "./main.scss";
.login-ribbon {
    height: 80vh;
    margin-top: 10vh;
    background-color: $white !important;
    color: $orange;
    text-align: center;
    font-size: 1.9rem;
    line-height: 20vh;
}

.login-form-holder {
    font-size: 1rem;
    background-color: $grey;
    margin: auto;
    width: 30vw;
    padding: 2vh 1vw;
}

.login-form-holder input {
    background-color: $grey;
    margin: auto;
    width: 25vw;
    padding: 2vh 1vw;
}

.login-label {
    text-align: left;
    display: block;
    margin: auto;
    font-size: 1.9rem;
    line-height: 3vh;
    height: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
}

.login-btn {
    display: block;
    font-size: 1rem;
    line-height: 3vh;
    height: 5vh;
    width: 15vw;
    padding: 1vh 1vw 4vh;
    margin-top: 5vh;
    margin-left: 1vw;
    color: $grey;
    font-weight: 600;
    background-color: $orange;
}

@media only screen and (max-width: 768px) {
    /* For general iPad layouts */
    .login-form-holder {
        font-size: 1rem;
        background-color: $grey;
        margin: auto;
        width: 80vw;
        padding: 2vh 1vw;
    }
    .login-form-holder input {
        background-color: $grey;
        margin-left: 1vw;
        width: 75vw;
        padding: 2vh 1vw;
    }
}

@media only screen and (max-width: 510px) {
    /* For general iphone layouts */
    .login-ribbon {
        height: 80vh;
        margin-top: 10vh;
        background-color: $white !important;
        font-size: 1.5rem;
        color: $orange;
        text-align: center;
        line-height: 20vh;
    }
}