/* Define color pallets */

$orange:rgb(242, 106, 37);
$light-green:rgb(196, 203, 126);
$green: rgb(148, 150, 40);
$light-grey: rgb(152, 126, 99);
$grey: rgb(42, 48, 48);
$yellow: rgb(250, 135, 8);
$light-yellow:rgb(226, 171, 81);
$dark-brown: rgb(56, 2, 2);

/* Define hyperlink style */

a {
    text-decoration: none !important;
}