$orange:rgb(242, 106, 37);
$light-green:rgb(196, 203, 126);
$green: rgb(148, 150, 40);
$light-grey: rgb(152, 126, 99);
$grey: rgb(42, 48, 48);
$yellow: rgb(250, 135, 8);
$light-yellow:rgb(226, 171, 81);
$dark-brown: rgb(56, 2, 2);
a {
    text-decoration: none !important;
}

.table-wrapper {
    background-color: red;
    position: absolute;
    top: 110px;
    left: 14vw;
}

@media only screen and (max-width: 768px) {
    /* For general iPad layouts */
    .table-wrapper {
        position: absolute;
        top: 180px;
        left: 0;
    }
}

@media only screen and (max-width: 510px) {
    /* For general iphone layouts */
    .table-wrapper {
        position: absolute;
        top: 200px;
        left: 0;
    }
}